
@import 'tailwindcss';


@theme {
    --color-custom-brown: #614900;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --h1-size: 50px;
  --h2-size: 45px;
  --h3-size: 40px;
  --h4-size: 35px;
  --p-size: 14px;
}



* {
  
  box-sizing: border-box;
 
}

body {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}


